
body {
    margin: 0 auto;
    padding: 0 ;
    width: 1200px;
}
header.header {
    padding: 20px;
}
.header {
    height: 60px ;
    border-bottom: 3px solid black ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart-button {
    
    height: 43px;
    width: 100px;
    border-radius: 23px;
    margin-bottom: 10px;
}
.cart-button:hover {
    height: 48px;
    width: 104px;
    box-shadow: 5px 5px 10px black ;
}
.cart-button:focus {
    outline: none;
}
.products {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}
.product-item {
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.product-item_img {
    border: 1px solid black;
    width: 200px;
    height: 110px;
}
  .catalog__item {
    margin-top: 40px;
    position: relative;
    transition: box-shadow .2s linear; }

    .catalog__item:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

    .catalog__item:hover .catalog__bucket {
      visibility: visible; }
    .catalog__item:hover .catalog__img {
      filter: brightness(0.4); }
    .catalog__item.catalog__item--also {
      margin-top: 0; }
  .catalog__bucket {
    display: flex;
    align-items: center;
    padding: 10px 13px;
    visibility: hidden;
    border: 1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 2;
    transition: all .2s linear; }
    .catalog__bucket:hover {
      transform: scale(1.1);
    }  
    .catalog__bucket:active {
      box-shadow: 0 0 15px rgba(255, 255, 255) inset;
      transform: scale(1);
    }
    .catalog__bucket:focus {
      outline: 1px solid #fff;
    }
  .catalog__hidden_text {
    margin-left: 8px;
    color: #fff;
    font-size: 13px;
    font-weight: 700; }
  .catalog__img {
    display: block;
    transition: filter .2s linear; }
  .catalog__content {
    padding: 20px 0 20px 15px; }
  .catalog__name {
    display: block;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }
    .catalog__name:hover {
      text-decoration: underline; }
    .catalog__name.catalog__name--also {
      color: #6f6e6e; }
  .catalog__price {
    margin-top: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .catalog__button {
    text-align: center;
    margin-bottom: 113px; }
  